@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    overflow-x: hidden;
}

.active {
    color: rgba(255,214,10,1);
}

.sign-up-form input,.login-form input,.contact-us-form input{
    width: 100%;
    background-color: rgba(22,29,41,1);
    padding: 0.6rem 0.4rem;
    border-radius: 0.3rem;
    color: white;
}

.sign-up-form select,.contact-us-form select{
    display: flex;
    width: 4rem;
    background-color: rgba(22,29,41,1);
    padding: 0.7rem 0rem;
    border-radius: 0.3rem;
}

.sign-up-form label,.login-form label,.contact-us-form label{
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 0.2rem;
    color: rgb(206, 206, 206);
}

.contact-us-form span{
    
   color: rgb(245, 105, 105);
}
